* {
	box-sizing: border-box;
}

body {
	background: #DADADA;
}
.square{

	width: 890px;
	height: 300px;
	background-color: #DCF4F3;
	display: inline-block;
	transform:translateX(0px) translateY(0px);
	opacity: 0.8;
}
.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
	border: solid black 5px;
}

.container {
   position: absolute;
      z-index: 1;
  }

.square1{

	width: 170px;
	height: 30px;
	background-color: #7C95A5;
	display: inline-block;
	position: absolute;
 top: 375px;
 left:264px;
	opacity: 0.7;
}
.Oval{  
   width: 170px;  
   height: 70px;  
   float: left;  
   background: #7C95A5;  
   -webkit-border-radius: 100px / 50px;  
   -moz-border-radius: 100px / 50px;  
   border-radius: 100px / 50px; 
   position: absolute;
   top: 334px;
   left:264px;
   opacity: 0.7;
 }  

.Oval2{  
   width: 200px;  
   height: 100px;  
   float: left;  
   background: #ADD7F2;  
   -webkit-border-radius: 100px / 50px;  
   -moz-border-radius: 100px / 50px;  
   border-radius: 100px / 50px; 
 position: absolute;
 top: 315px;
 left:250px;
 opacity: 0.7;
 } 

 .semi-circle {
    width: 80px;
	height: 55px;
	border-radius: 100px 100px 0 0;
	height: 50px;
	background-color: #9095A0;
	position: absolute;
	float: left;  
	 top: 320px;
     left:305px;
    }

.circle{
	
	width: 80px;
	height: 80px;
	background-color: #CECAC4;
	 float: left;  
	 position: absolute;
	border-radius: 50%;
	 top: 265px;
     left:290px;
}

.circle1{
	
	width: 70px;
	height: 70px;
	background-color: #E5D9CF;
	float: left;  
	position: absolute;
	border-radius: 50%;
	top: 275px;
    left:340px;
}

.circle2{
	
	width: 70px;
	height: 70px;
	background-color: #F4F3E6;
	float: left;  
	position: absolute;
	border-radius: 50%;
	top: 279px;
    left:255px;

}
.Triangle {  
   width: 0;  
   height: 0;  
   float: left;  
   border-bottom: 50px solid #fcf706;  
   border-left: 20px solid transparent;  
   border-right: 20px solid transparent; 
   position: absolute;
   top: 195px;
    left:310px; 
 }  
 .Triangle1 {  
   width: 0;  
   height: 0;  
   float: left;  
   border-bottom: 30px solid red;  
   border-left: 10px solid transparent;  
   border-right: 10px solid transparent; 
   position: absolute;
   top: 208px;
   left:320px; 
   opacity: 0.7;
 }  

.circle3{
	
	width: 75px;
	height: 75px;
	background-color: #F4F3ED;
	float: left;  
	position: absolute;
	border-radius: 50%;
	top: 255px;
    left:320px;

}

.circle4{
	
	width: 75px;
	height: 75px;
	background-color: #FCFBD6;
	float: left;  
	position: absolute;
	border-radius: 50%;
	top: 235px;
    left:260px;

}

.circle5{
	
	width: 70px;
	height: 70px;
	background-color: white;
	float: left;  
	position: absolute;
	border-radius: 50%;
	top: 230px;
    left:290px;
}

.circle6{

	width: 70px;
	height: 70px;
	background-color: #FCFBD6;
	float: left;  
	position: absolute;
	border-radius: 50%;
	top: 240px;
    left:270px;
}

.circle7{
	width: 70px;
	height: 70px;
	background-color: #FCFBD6;
	float: left;  
	position: absolute;
	border-radius: 50%;
	top: 250px;
    left:270px;
}

.circle8{	
	width: 75px;
	height: 75px;
	background-color: #FFFFEE;
	float: left;  
	position: absolute;
	border-radius: 50%;
	top: 250px;
    left:300px;
}

.circle9{	
	width: 75px;
	height: 75px;
	background-color: white;
	float: left;  
	position: absolute;
	border-radius: 50%;
	top: 235px;
    left:330px;
}

 
  .Triangle2 {
  border-radius: 50%;
  background-color: red;
  border-bottom: 50px solid #fcf706;  
   border-left: 20px solid transparent;  
   border-right: 20px solid transparent; 
  position: absolute;
   top: 195px;
   left:310px;
  opacity: 0;
  animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
   
   }

   @keyframes scaleIn {
  from {
    transform: scale(.5, .5);
    opacity: .5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}
 
 .container1 {
   position: absolute;
      z-index: 1;
  }
  .square3{

	width: 100px;
	height: 35px;
	background-color: #D0BFB1;
	display: inline-block;
	  position: absolute;
   top: 389px;
   left:578px;
}
.parallelogram {
	width: 100px;
	height: 34px;
	-webkit-transform: skew(72deg);
	   -moz-transform: skew(30deg);
	     -o-transform: skew(30deg);
	background: #537CA5;
	  position: absolute;
     top: 355px;
   left:524px;

}

.parallelogram1 {
	width: 98px;
	height: 38px;
	-webkit-transform: skew(20deg) rotate(200deg);
	background: #38373F;
	  position: absolute;
    top: 371px;
   left:477px;
}

.container2 {
   position: absolute;
      z-index: 1;
  }

  .circle10{
	
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 50%;
	  position: absolute;
    top: 270px;
   left:530px;
}

.Triangle {  
   width: 0;  
   height: 0; 
   border-radius: 30%; 
   position: absolute;
    top: 260px;
   left:515px;
   transform: rotate(-25deg);
   border-bottom: 45px solid white;  
   border-left: 20px solid transparent;  
   border-right: 20px solid transparent;  
 }  
.Triangle-1 {  
   width: 0;  
   height: 0; 
   border-radius: 30%; 
   position: absolute;
    top: 260px;
   left:607px;
   transform: rotate(25deg);
   border-bottom: 45px solid white;  
   border-left: 20px solid transparent;  
   border-right: 20px solid transparent;  
 }  

  .Triangle3 {  
   width: 0;  
   height: 0; 
   border-radius: 40%; 
   position: absolute;
    top: 273px;
   left:618px;
   border-radius: 50%;
   border-bottom: 20px solid black;  
   border-left: 10px solid transparent;  
   border-right: 10px solid transparent;  
      transform: rotate(25deg);
 }  

  .Triangle4 {  
   width: 0;  
   height: 0; 
   border-radius: 40%; 
   position: absolute;
    top: 273px;
   left:525px;
   border-radius: 50%;
   border-bottom: 20px solid black;  
   border-left: 10px solid transparent;  
   border-right: 10px solid transparent;  
      transform: rotate(-25deg);
 }  

  .circle11{
	
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	  position: absolute;
    top: 300px;
   left:545px;
}

  .circle12{
	
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	  position: absolute;
    top: 300px;
   left:593px;
}

  .circle13{
	
	width: 10px;
	height: 10px;
	background-color: white;
	border-radius: 50%;
	  position: absolute;
    top: 300px;
   left:550px;
}

  .circle14{
	
	width: 10px;
	height: 10px;
	background-color: white;
	border-radius: 50%;
	  position: absolute;
    top: 300px;
   left:596px;
}

.Heart {  
  float: left;  
  position: relative;  
    top: 320px;
   left:570px;
     z-index: 1;
 }  
 .Heart:before, .Heart:after {  
  content: "";  
  width: 10px;  
  height: 20px;  
  position: absolute;  
  background: #FF7BAA;  
  left: 10px;  
  top: 0;  
  -webkit-border-radius: 50px 50px 0 0;  
  -moz-border-radius: 50px 50px 0 0;  
  border-radius: 50px 50px 0 0;  
  -webkit-transform: rotate(-45deg);  
  -moz-transform: rotate(-45deg);  
  -ms-transform: rotate(-45deg);  
  -o-transform: rotate(-45deg);  
  transform: rotate(-45deg);  
  -webkit-transform-origin: 0 100%;  
  -moz-transform-origin: 0 100%;  
  -ms-transform-origin: 0 100%;  
  -o-transform-origin: 0 100%;  
  transform-origin: 0 100%;  
  }  
.Heart:after {  
  left: 0;  
  -webkit-transform: rotate(45deg);  
  -moz-transform: rotate(45deg);  
  -ms-transform: rotate(45deg);  
  -o-transform: rotate(45deg);  
  transform: rotate(45deg);  
  -webkit-transform-origin: 100% 100%;  
  -moz-transform-origin: 100% 100%;  
  -ms-transform-origin: 100% 100%;  
  -o-transform-origin: 100% 100%;  
  transform-origin: 100% 100%;  
 }  

 .container3 {
   position: absolute;
      z-index: 1;
  }

.circle15 {
    width: 15px;
    height: 7px;
    border: 2px solid black;
     position: absolute;
      top: 337px;
   left:582px;
     border-radius: 50% 50% 0 0/100% 100% 0 0;
    border-bottom: none;
    transform: rotate(180deg);
}

.circle16 {
    width: 15px;
    height: 7px;
    border: 2px solid black;
     position: absolute;
      top: 337px;
   left:563px;
     border-radius: 50% 50% 0 0/100% 100% 0 0;
    border-bottom: none;
transform: rotate(180deg);
}

.Egg {  
  width: 20px;  
  height: 30px;  
   position: absolute;
      top: 350px;
   left:540px; 
  background: white;  
  display: block;  
  -webkit-border-radius: 60px 60px 60px 60px / 100px 100px 68px 68px;  
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;  
  transform: rotate(25deg);
 }  

.Egg1 {  
  width: 20px;  
  height: 30px;  
   position: absolute;
   top: 350px;
   left:600px; 
  background: white;  
  display: block;  
  -webkit-border-radius: 60px 60px 60px 60px / 100px 100px 68px 68px;  
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;  
  transform: rotate(-25deg);
 }  

