
 {
 background: linear-gradient(68deg, #8ABDFB 1em, 
    rgba(255, 255, 255, 0) 1em) 3em -3em, 
  linear-gradient(-68deg, #8ABDFB 1em, 
    rgba(255, 255, 255, 0) 1em) -3em -3em, 
  radial-gradient(circle, #FF8AAC 1em, 
    rgba(255, 255, 255, 0) 1em) 0 0, 
    radial-gradient(circle, #EF7177 0.3em, 
    rgba(255, 255, 255, 0) 0.3em) 0 0, 
  linear-gradient(68deg, #FDCC01 1em, 
    rgba(255, 255, 255, 0) 1em) 0 0, 
  linear-gradient(-68deg, #FDCC01 1em, 
    rgba(255, 255, 255, 0) 1em) 0 0, 
  radial-gradient(circle, #FF8AAC 1em, 
    rgba(255, 255, 255, 0) 1em) 3em 3em;
  background-size: 6em 6em;
  background-color: #EFEDEE;

  font: 20px;
}
