
#position-relative{
	position: relative;
	top: 60px;
	left: 60px;
}

.position-fixed{
	position: fixed;
	top: 0px;
	left: 0px;
}


.circle{
	
	width: 200px;
	height: 200px;
    border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #0000ff66;
	background-color: #FCCEE0;
	    border-radius: 50%;
    	padding: 100px;
	margin: 500px;
}
.circle-1{
	
	width: 200px;
	height: 200px;

	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #0000ff66;
	background-color: #FFFF82;
	    border-radius: 50%;
    	padding: 100px;
	margin: 500px;
}

.circle-2{
	
	width: 200px;
	height: 200px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #0000ff66;
	background-color: #76FFED;
	    border-radius: 50%;
    	padding: 100px;
	margin: 500px;
}


#container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.circle-transparent{
	width: 30px;
	height: 30px;
	background-color:rgba(162, 210, 222);
	border-radius: 70%;
	margin: 80px;
}

