body{
	font-size: 20px;
}

.container{
		position:fixed;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: 

}
.position-fixed{
	position:fixed;
	top: 60px;
	left: 0px;
}

.square-1{

	width: 500px;
	height: 500px;
	background-color: #F7C601;
	display: inline-block;
	padding: 50px;
	margin: 50px;
}


.circle{
	
	width: 300px;
	height: 300px;
	background-color: #E97177;
	border-radius: 50%;
	transform:translateX(170px) translateY(-500px);
}

.circle-1{
	
	width: 60px;
	height: 60px;
	background-color: #040000;
	border-radius: 50%;
	transform:translateX(455px) translateY(-500px);
}
.circle-2{
	
	width: 65px;
	height: 65px;
	background-color: #040000;
	border-radius: 50%;
	 background: transparent;
   border-style:solid;
      border-width:5px;  
      border-color:#040000;
	transform:translateX(183px) translateY(-632px);
}
.circle-3{
	
	width: 40px;
	height: 40px;
	background-color: #040000;
	border-radius: 50%;
	transform:translateX(200px) translateY(-690px);
}
.square{
   width: 80px;
      height: 80px;
      background: transparent;
   border-style:solid;
      border-width:7px;  
      border-color:#040000;
      	transform:translateX(400px) translateY(-970px)
      }

  .square-2{
    width: 500px;
	height: 500px;
	background-color: #E97177;
	padding: 50px;
	margin: 50px;
	transform:translateX(700px) translateY(-1275px)
}

    
.square-3{
	
	width: 160px;
	height: 160px;
	background-color: #ECB3B9;
		padding: 50px;
	margin: 50px;
	transform:translateX(865px) translateY(-1750px);
}
.circle-4{
	
	width: 85px;
	height: 85px;
	background-color: #040000;
	border-radius: 50%;
	 background: transparent;
   border-style:solid;
      border-width:7px;  
      border-color:#040000;
	transform:translateX(1000px) translateY(-2100px);
}
.circle-5 {
    width: 90px;
    height: 45px;
    border: 7px solid black;
    border-radius: 0 0 50% 50%/0 0 100% 100% ;
    border-top: none;
      border-color:#040000;
	transform:translateX(870px) translateY(-2050px);
}

    .circle-6{
	width: 65px;
	height: 65px;
	background-color: #040000;
	border-radius: 50%;
	transform:translateX(845px) translateY(180px);
}
    .circle-7{
	width: 65px;
	height: 65px;
	background-color: #040000;
	border-radius: 50%;
	transform:translateX(1185px) translateY(120px);
}
 .slopingside {
 	height:0px;
    	border: 3.5px solid black;
    	width: 110px;
    	transform:rotate(150deg);
    	margin-left: 1130px;
    	margin-top: -2100px;

    }

a#container :hover{
    background-color: #E97177;
     transition: background-color 1s ease-out;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}
a#container1 :hover{
    background-color: #FFFFFF;
     transition: background-color 1s ease-out;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}
a#container2 :hover{
    background-color: #F7C601;
     transition: background-color 1s ease-out;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}
a#container3 :hover{
    background-color: #FFFFFF;
     transition: background-color 1s ease-out;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

#container-2{
	display: flex;
	flex-wrap: wrap;
}

.circle-transparent{
	width: 30px;
	height: 30px;
	background-color:#E97177;
	border-radius: 50%;
	margin: 80px;
  animation-name: flash;
  animation-duration: 1s;
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }


